.exam-card {
  @apply bg-white border border-gray-200 rounded-xl p-5 flex items-center gap-3 font-semibold shadow-sm;
}

.exam-icon {
  @apply text-white text-lg p-3 rounded-full;
}

.feature-box {
  @apply w-full sm:w-[30%] min-w-[200px] text-center font-semibold;
}

.feature-icon {
  @apply block mx-auto mb-2 text-3xl p-4 rounded-full text-white;
}
