@import "tailwindcss";
/* 
.ripple-hover {
  position: relative;
  overflow: hidden;
}

.ripple-hover::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, rgba(255,255,255,0.4) 10%, transparent 70%);
  opacity: 0;
  transform: scale(0);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.ripple-hover:hover::after {
  opacity: 1;
  transform: scale(4);
} */
